@mixin for-phone-only {@media (max-width: 599px) { @content; }}
@mixin for-tablet-portrait-up {@media (min-width: 600px) { @content; }}
@mixin for-tablet-portait-only {@media (min-width: 600px) and (max-width: 899px) { @content; }}@mixin for-tablet-landscape-up {@media (min-width: 900px) { @content; }}
@mixin for-tablet-landscape-only {@media (min-width: 900px) and (max-width: 1199px) { @content; }}
@mixin for-site {
    @media (max-width: 899px) { @content; }
}
@mixin for-desktop-up {@media (min-width: 1200px) { @content; }}
@mixin for-desktop-only {@media (min-width: 1200px) and (max-width: 1799px) { @content; }}
@mixin for-big-desktop-up {@media (min-width: 1800px) { @content; }}

body {
    background-color: #141416;
}

.block-ball {
    display: flex;
    @include for-site {
        display: inline-block;
        vertical-align: middle;}
    
}

.block1 {
    box-sizing: border-box;
    width: 34%;
    position: relative;
    margin: 20px 0% 10px 5%;
    border: 1px solid #3a3a3f;
    padding: 2%;
    height:auto;
    @include for-site {
        width: 100%;
        margin: 0 0 0 0;
        border-bottom: none;}
}

.block20 {
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.block20 img {
    width: 100%;
    height: 100%;
    inset: auto;
}

.block21 {
    width: 56%;
    margin: 20px 5% 10px 0%;
    border-left: none;
    padding-left: 10%;
    padding-right: 10%;
    @include for-site {
        width: 100%;
        margin: 0 0 0 0;
        border-left: 1px solid #3a3a3f;
        border-top: none;}
}

.block-ball-head{
    overflow-wrap: break-word;
    text-align: start;
    visibility: inherit;
    pointer-events: auto;
    font: normal normal normal 18px/1.4em poppins-semibold,poppins,sans-serif;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(255,255,255);
    font-family: poppins-semibold,poppins,sans-serif;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 18px;}

.block-ball-text {
    overflow-wrap: break-word;
    text-align: start;
    visibility: inherit;
    pointer-events: auto;
    font: normal normal normal 16px/1.4em 'open sans',sans-serif;
    line-height: 1.8em;
    font-size: 16px;
    letter-spacing: normal;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    color: rgb(138,138,138);
    word-wrap: break-word;
    
}



  
  .content {
    top: 0;
    left: 0;
    position: relative;
    height: 160px;
    overflow: hidden;
    line-height: 40px;
    height: 40px;
  }

  .content__container__text {
    display: inline-block;
    text-align: left;
    margin: 0;
  }
  .content__animate{float: left;}

  .content__container__list {
    padding: 0;
    display: inline-block;
    margin-top: 0;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }

  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @keyframes change {
    0%,
    12.66%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }