body {
    background-color: #141416;
}

.block-ball {
    display: flex;
}

.block1 {
    box-sizing: border-box;
    width: 34%;
    position: relative;
    margin: 20px 0% 10px 5%;
    border: 1px solid #3a3a3f;
    padding: 2%;
    height: 523px;
}

.block20 {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.block20 img {
    width: 100%;
    height: 100%;
    inset: auto;
}

.block21 {
    width: 56%;
    margin: 20px 5% 10px 0%;
    border-left: none;
    padding-left: 15%;
    padding-right: 15%;
}

.block-ball-text {
    --color_0: 255,255,255;
    --color_27: 30,121,141;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_28: 45,182,212;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 20,20,22;
    --color_12: 27,28,30;
    --color_13: 63,67,73;
    --color_14: 138,138,138;
    --color_15: 255,255,255;
    --color_16: 127,49,49;
    --color_17: 190,74,74;
    --color_18: 253,98,98;
    --color_29: 137,210,226;
    --color_19: 254,176,176;
    --color_20: 252,225,225;
    --color_21: 68,78,116;
    --color_22: 102,117,173;
    --color_23: 136,156,231;
    --color_24: 193,204,243;
    --color_25: 218,223,242;
    --color_30: 177,229,241;
    --color_31: 8,33,82;
    --color_32: 16,65,165;
    --color_33: 24,98,247;
    --color_34: 137,174,250;
    --color_35: 176,202,252;
    --font_0: normal normal bold 80px/1.4em poppins-extralight,poppins,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal bold 60px/1.4em poppins-extralight,poppins,sans-serif;
    --font_3: normal normal bold 30px/1.4em poppins-extralight,poppins,sans-serif;
    --font_4: normal normal normal 30px/1.4em 'open sans',sans-serif;
    --font_5: normal normal normal 24px/1.4em barlow-medium,barlow,sans-serif;
    --font_6: normal normal normal 18px/1.4em poppins-semibold,poppins,sans-serif;
    --font_7: normal normal normal 18px/1.4em 'open sans',sans-serif;
    --font_8: normal normal normal 16px/1.4em 'open sans',sans-serif;
    --font_9: normal normal normal 14px/1.4em 'open sans',sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 320;
    --color_26: 15,61,71;
    --maxViewportSize: 1920;
    --pinned-layers-in-page: 0;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49;
    --transition-duration: 700ms;
    --fill-layer-background-media-position: absolute;
    --fill-layer-background-media-pointer-events: none;
    --padding: 1px;
    --margin: 1px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
    --column-width: 586px;
    --column-flex: 586;
    overflow-wrap: break-word;
    text-align: start;
    visibility: inherit;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    pointer-events: auto;
    font: var(--font_8);
    color: rgb(var(--color_14));
    letter-spacing: 0em;
    margin: 0;
    line-height: 1.8em;
    font-size: 16px;

    --color_0: 255,255,255;
    --color_27: 30,121,141;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_28: 45,182,212;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 20,20,22;
    --color_12: 27,28,30;
    --color_13: 63,67,73;
    --color_14: 138,138,138;
    --color_15: 255,255,255;
    --color_16: 127,49,49;
    --color_17: 190,74,74;
    --color_18: 253,98,98;
    --color_29: 137,210,226;
    --color_19: 254,176,176;
    --color_20: 252,225,225;
    --color_21: 68,78,116;
    --color_22: 102,117,173;
    --color_23: 136,156,231;
    --color_24: 193,204,243;
    --color_25: 218,223,242;
    --color_30: 177,229,241;
    --color_31: 8,33,82;
    --color_32: 16,65,165;
    --color_33: 24,98,247;
    --color_34: 137,174,250;
    --color_35: 176,202,252;
    --font_0: normal normal bold 80px/1.4em poppins-extralight,poppins,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal bold 60px/1.4em poppins-extralight,poppins,sans-serif;
    --font_3: normal normal bold 30px/1.4em poppins-extralight,poppins,sans-serif;
    --font_4: normal normal normal 30px/1.4em 'open sans',sans-serif;
    --font_5: normal normal normal 24px/1.4em barlow-medium,barlow,sans-serif;
    --font_6: normal normal normal 18px/1.4em poppins-semibold,poppins,sans-serif;
    --font_7: normal normal normal 18px/1.4em 'open sans',sans-serif;
    --font_8: normal normal normal 16px/1.4em 'open sans',sans-serif;
    --font_9: normal normal normal 14px/1.4em 'open sans',sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 320;
    --color_26: 15,61,71;
    --maxViewportSize: 1920;
    --pinned-layers-in-page: 0;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49;
    --transition-duration: 700ms;
    --fill-layer-background-media-position: absolute;
    --fill-layer-background-media-pointer-events: none;
    --padding: 1px;
    --margin: 1px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
    --column-width: 586px;
    --column-flex: 586;
    overflow-wrap: break-word;
    text-align: start;
    visibility: inherit;
    pointer-events: auto;
    font: var(--font_8);
    color: rgb(var(--color_14));
    line-height: 1.8em;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    letter-spacing: normal;

    --color_0: 255,255,255;
    --color_27: 30,121,141;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_28: 45,182,212;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 20,20,22;
    --color_12: 27,28,30;
    --color_13: 63,67,73;
    --color_14: 138,138,138;
    --color_15: 255,255,255;
    --color_16: 127,49,49;
    --color_17: 190,74,74;
    --color_18: 253,98,98;
    --color_29: 137,210,226;
    --color_19: 254,176,176;
    --color_20: 252,225,225;
    --color_21: 68,78,116;
    --color_22: 102,117,173;
    --color_23: 136,156,231;
    --color_24: 193,204,243;
    --color_25: 218,223,242;
    --color_30: 177,229,241;
    --color_31: 8,33,82;
    --color_32: 16,65,165;
    --color_33: 24,98,247;
    --color_34: 137,174,250;
    --color_35: 176,202,252;
    --font_0: normal normal bold 80px/1.4em poppins-extralight,poppins,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal bold 60px/1.4em poppins-extralight,poppins,sans-serif;
    --font_3: normal normal bold 30px/1.4em poppins-extralight,poppins,sans-serif;
    --font_4: normal normal normal 30px/1.4em 'open sans',sans-serif;
    --font_5: normal normal normal 24px/1.4em barlow-medium,barlow,sans-serif;
    --font_6: normal normal normal 18px/1.4em poppins-semibold,poppins,sans-serif;
    --font_7: normal normal normal 18px/1.4em 'open sans',sans-serif;
    --font_8: normal normal normal 16px/1.4em 'open sans',sans-serif;
    --font_9: normal normal normal 14px/1.4em 'open sans',sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 320;
    --color_26: 15,61,71;
    --maxViewportSize: 1920;
    --pinned-layers-in-page: 0;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49;
    --transition-duration: 700ms;
    --fill-layer-background-media-position: absolute;
    --fill-layer-background-media-pointer-events: none;
    --padding: 1px;
    --margin: 1px;
    --firstChildMarginTop: -1px;
    --lastChildMarginBottom: -1px;
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none;
    --column-width: 586px;
    --column-flex: 586;
    overflow-wrap: break-word;
    text-align: start;
    visibility: inherit;
    pointer-events: auto;
    font: var(--font_8);
    line-height: 1.8em;
    font-size: 16px;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    color: rgb(var(--color_14));
}

